<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">daisyUI</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">   
            <li routerLink='/home'><a >Home</a><li> 
            <li routerLink="/aboutus"><a>About</a><li> 
            <li routerLink="/events"><a>Events</a><li> 
            <li routerLink="/annoucements"><a>Annoucements</a><li>  
            <li routerLink="/contactus"><a>Contact us</a><li>   
        </ul>
    </div>
  </div>